name: Release framework-dependent multi-file

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (example: 1.0.0)'
        required: true
      platform:
        description: 'Platform'
        required: true
        type: choice
        options:
        - win-x86
        - win-x64

permissions:
  contents: write # Required to create releases

jobs:
  build:
    runs-on: windows-latest

    env:
      ZIP_NAME: f-pad-${{github.event.inputs.version}}-${{github.event.inputs.platform}}.zip

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore packages
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Publish
        run: dotnet publish FPad/FPad.csproj -c Release -o ./publish -f net8.0-windows -r ${{github.event.inputs.platform}} --no-self-contained

      - name: Create ZIP package
        run: Compress-Archive -Path ./publish/* -DestinationPath ${{env.ZIP_NAME}}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{github.event.inputs.version}}-${{github.event.inputs.platform}}
          name: Release v${{github.event.inputs.version}} ${{github.event.inputs.platform}} (zip archive)
          files: ${{env.ZIP_NAME}}